*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.navbar-brand{
  width: 50%;
}

.curso{
	margin-bottom: 20px;
}

.cursos{
	margin-top:20px;
	justify-content: space-evenly;
	padding-left: 25px;
	padding-right: 25px;
	justify-content: flex-end;
}

.search{
	justify-content: center;
	margin-top: 20px;
}

.vermas{
	text-align: center;
	margin-top: 20px;
}
#NavBar{
	justify-content: flex-end;
}

footer {
	margin-top: 30px;
  text-align: center;
	color:lightgrey;
}

.login{
	min-block-size: -webkit-fill-available;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

.logo{
	margin-bottom: 20px;
}

.botones{
text-align: right;
}

.perfil{
	margin-top: 25px;
	justify-content:space-around;
	padding: 25px;

}

#imagen_perfil{
max-width: 90px;
}

.terminos{
	margin-top: 5px;
}

.terminos label{
	font-size: small;
}

.terminos input{
	vertical-align: middle;
}

.invalid-feedback{
display: inline-block;
width: 100%;
margin-top: 0;
font-size: 80%;
color: #dc3545;
margin-bottom: .25rem;
}

.loginform {
    margin-bottom: 0rem;
}

.display-1{
	font-size: 2.5rem;
}
.display-2{
	font-size: 2rem;
}


div.videocurso {
    margin-top: 3rem;
}

.videocurso {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.videocurso iframe, .videocurso object, .videocurso embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
