*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.navbar-brand{
  width: 50%;
}

.curso{
	margin-bottom: 20px;
}

.cursos{
	margin-top:20px;
	justify-content: space-evenly;
	padding-left: 25px;
	padding-right: 25px;
	justify-content: flex-end;
}

.search{
	justify-content: center;
	margin-top: 20px;
}

.vermas{
	text-align: center;
	margin-top: 20px;
}
#NavBar{
	justify-content: flex-end;
}

footer {
	margin-top: 30px;
  text-align: center;
	color:lightgrey;
}

.login{
	min-block-size: -webkit-fill-available;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

.logo{
	margin-bottom: 20px;
}

.botones{
text-align: right;
}

.perfil{
	margin-top: 25px;
	justify-content:space-around;
	padding: 25px;

}

#imagen_perfil{
max-width: 90px;
}

.terminos{
	margin-top: 5px;
}

.terminos label{
	font-size: small;
}

.terminos input{
	vertical-align: middle;
}
